doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title= title
        link(rel="stylesheet",href="/layui/css/layui.css")
        link(rel="stylesheet",href="/css/common.css")
        style.
            .layui-nav-side{
                padding-top: 60px;

            }
            .layui-nav-item a{
                font-size: 20px;
            }
            #main{
                margin-left: 200px;
                padding: 10px;
            }

        block css


    body


        header
            .layui-bg-black
                nav.layui-container.nav-warp
                    ul.layui-nav

                        li.layui-nav-item(class=pathName === '/' ? 'layui-this' : '')
                            a(href="/") 首页
                        li.layui-nav-item(class=pathName === '/client' ? 'layui-this' : '')
                            a(href="/client") 前端
                        li.layui-nav-item(class=pathName === '/server' ? 'layui-this' : '')
                            a(href="/server") 后端
                        li.layui-nav-item(class=pathName === '/dashuju' ? 'layui-this' : '')
                            a(href="/dashuju") 大数据
                        li.layui-nav-item(class=pathName === '/yunjisuan' ? 'layui-this' : '')
                            a(href="/yunjisuan") 云计算
                    .login
                        if session && !session.isNew
                            ul.layui-nav


                                li.layui-nav-item
                                    a(href="javascript:;")
                                        img.layui-nav-img(src=session.avatar)
                                        = session.username
                                    dl.layui-nav-child
                                        dd
                                            a(href="/addArticle") 发表文章
                                        dd
                                            a(href="/admin/article")
                                                | 个人中心
                                                span.layui-badge-dot
                                        dd
                                            a(href="/user/logout") 退出登陆

                        else
                            ul.layui-nav
                                li.layui-nav-item
                                    a(href="/user/login") 登陆
                                li.layui-nav-item
                                    a(href="/user/reg") 注册

        aside.layui-nav.layui-nav-tree.layui-nav-side

            .layui-nav-item
                a(href='/admin/article') 文章管理
            .layui-nav-item
                a(href='/admin/comment') 评论管理
            .layui-nav-item
                a(href='/admin/avatar') 上传头像
            if session.role > 1
                .layui-nav-item
                    a(href='/admin/users') 用户管理
        main#main

            block main

        script(src='/layui/layui.js')
        script.
            layui.use('element', function () {
                var $ = layui.$

                $('.layui-nav-side a').each(function (i) {
                    var link = $(this).attr('href')

                    if (link === window.location.pathname) {
                        $('.layui-nav-side .layui-nav-item').eq(i).addClass('layui-this')
                    }


                })

            })

        block scripts