extends common/layout

block css
    link(rel='stylesheet', href="/css/common.css")

block content

    //-include ./common/nav
    .layui-bg-black
        nav.layui-container.nav-warp
            ul.layui-nav

                li.layui-nav-item(class=pathName === '/' ? 'layui-this' : '')
                    a(href="/") 首页
                li.layui-nav-item(class=pathName === '/client' ? 'layui-this' : '')
                    a(href="/client") 前端
                li.layui-nav-item(class=pathName === '/server' ? 'layui-this' : '')
                    a(href="/server") 后端
                li.layui-nav-item(class=pathName === '/dashuju' ? 'layui-this' : '')
                    a(href="/dashuju") 大数据
                li.layui-nav-item(class=pathName === '/yunjisuan' ? 'layui-this' : '')
                    a(href="/yunjisuan") 云计算
            .login
                if session && !session.isNew
                    ul.layui-nav


                        li.layui-nav-item
                            a(href="javascript:;")
                                img.layui-nav-img(src=session.avatar)
                                = session.username
                            dl.layui-nav-child
                                dd
                                    a(href="/addArticle") 发表文章
                                dd
                                    a(href="/admin/article")
                                        | 个人中心
                                        span.layui-badge-dot
                                dd
                                    a(href="/user/logout") 退出登陆

                else
                    ul.layui-nav
                        li.layui-nav-item
                            a(href="/user/login") 登陆
                        li.layui-nav-item
                            a(href="/user/reg") 注册
    .layui-container
        .layui-tab
            ul.layui-tab-title
                li(class=isLogin?"layui-this":"")
                    a(href="/user/login") 登陆
                li(class=isLogin?"":"layui-this")
                    a(href="/user/reg") 注册

        .layui-tab-content
            if isLogin
                .layui-tab-item(class="layui-show")
                    form.layui-form
                        .layui-form-item
                            label.layui-form-label 用户名
                            .layui-input-inline
                                input(type="text",name="username",autocomplete="off" lay-verify="required",placeholder="请输入用户名").layui-input

                        .layui-form-item
                            label.layui-form-label 密码
                            .layui-input-inline
                                input(type="password",name="password",autocomplete="off" lay-verify="required",placeholder="请输入密码").layui-input

                        .layui-form-item
                            .layui-input-block
                                button(type="reset").layui-btn 重置
                                button(lay-submit,lay-filter="login").layui-btn 立即登陆

            else
                .layui-tab-item(class="layui-show")
                    form.layui-form
                        .layui-form-item
                            label.layui-form-label 用户名
                            .layui-input-inline
                                input(type="text",name="username",autocomplete="off" lay-verify="required|username",placeholder="请输入用户名").layui-input

                        .layui-form-item
                            label.layui-form-label 密码
                            .layui-input-inline
                                input(type="password",name="password",autocomplete="off",lay-verify="required|password",placeholder="请输入密码").layui-input

                        .layui-form-item
                            label.layui-form-label 确认密码
                            .layui-input-inline
                                input(type="password",name="confirmPwd",placeholder="再次输入密码",autocomplete="off",lay-verify="required").layui-input

                        .layui-form-item
                            label.layui-form-label 邮箱
                            .layui-input-inline
                                input(type="email",name="email",placeholder="请输入邮箱用于验证",autocomplete="off",lay-verify="required|email").layui-input
                            .layui-input-inline
                                button(type="button",style="width:120px;")#getcode.layui-btn.layui-btn-normal 获取验证码


                        .layui-form-item
                            label.layui-form-label 验证码
                            .layui-input-inline
                                input(type="number",name="code",placeholder="验证码",autocomplete="off").layui-input
                            .layui-form-mid.layui-word-aux

                        .layui-form-item
                            .layui-input-block
                                button(type="reset").layui-btn.layui-btn-warm 重置
                                button(lay-submit,lay-filter="reg").layui-btn 立即注册


                
block scripts
    script(src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js")
    script(src="/js/register.js")
